#spring.application.name=various
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/various?useSSL=false&serverTimezone=UTC
    username: yhs
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
#  jpa:
#    hibernate:
#      ddl-auto: update # 혹은 none, validate, create, create-drop 등
#    show-sql: true # SQL 쿼리 로그 출력 여부
#    properties:
#      hibernate:
#        format_sql: true

mybatis:
  mapper-locations: classpath:mapper/*.xml # 매퍼 XML 파일의 위치
  type-aliases-package: com.practice.vo # 타입 별칭이 정의된 패키지
  configuration:
    map-underscore-to-camel-case: true # 스네이크 케이스를 카멜 케이스로 자동 매핑
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    #    org.apache.ibatis: DEBUG
    org.mybatis: DEBUG
    org.mybatis.spring.SqlSessionFactoryBean: DEBUG
    org.apache.ibatis.logging.stdout.StdOutImpl: DEBUG

jwt:
  secret: this-is-toy-project-secret-key-change-it
  access-token-expiration: 900000 # 15분
  refresh-token-expiration: 1209600000 # 14일
  refresh-expiration-days: 14 # DB 저장용
